@page
@model IndexModel
@{
    ViewData["Title"] = "Time2Cook";
}

<section class="new-home">

    <div class="home-left">
        <p class="small-title">Time2Cook</p>

        <h1>
            Take the Stress<br />
            out of meals.<br />
            <span>Eat Better.</span>
        </h1>

        <p class="home-text">
            Turn leftovers into affordable meals that match your budget, time and preferences.
        </p>

        <a asp-page="/SearchMeals" class="home-btn">Get Started</a>
    </div>

    <div class="home-right">
        <img src="/images/Spiced chicken rice bowl.jpg" alt="Time2Cook meal preview" />
    </div>

</section>

<section class="start-section">

    <h2>How would you like to start?</h2>

    <div class="start-grid">
        <a asp-page="/SearchMeals" class="start-card">
            <div>📷</div>
            <h3>Upload</h3>
            <p>Upload a photo of leftovers.</p>
        </a>

        <a asp-page="/SearchMeals" class="start-card">
            <div>✏️</div>
            <h3>Enter</h3>
            <p>Type your ingredients manually.</p>
        </a>

        <a asp-page="/SearchMeals" class="start-card">
            <div>💰</div>
            <h3>Budget</h3>
            <p>Choose how much you want to spend.</p>
        </a>

        <a asp-page="/SearchMeals" class="start-card">
            <div>⚙️</div>
            <h3>Preferences</h3>
            <p>Select diet, allergies and calories.</p>
        </a>
    </div>

</section>

<section class="popular-section">

    <h2>Popular Recipes</h2>

    <div class="popular-grid">

        <div class="popular-card">
            <img src="/images/Spiced chicken rice bowl.jpg" />
            <h3>Chicken Rice Bowl</h3>
            <p>$4.50 • 20 mins</p>
        </div>

        <div class="popular-card">
            <img src="/images/sesame-crusted-tuna-rice-bowls.jpg" />
            <h3>Tuna Rice Bowl</h3>
            <p>$3.50 • 10 mins</p>
        </div>

        <div class="popular-card">
            <img src="/images/Vietnamese-Caramelized-Minced-Beef-Rice-Bowls.jpg" />
            <h3>Beef Rice Bowl</h3>
            <p>$5.20 • 25 mins</p>
        </div>

    </div>

</section>